.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textSecondary.MuiPaginationItem-page.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
  /* background-color: darkcyan;  */
}
.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textSecondary.MuiPaginationItem-ellipsis.css-1v2lvtn-MuiPaginationItem-root {
  color: white;
}
.Pagination {
  min-width: 100%;
  margin-bottom: 4vh;
}
.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textSecondary.MuiPaginationItem-page.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root:hover {
  color: white;
  background-color: darkcyan;
}
.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-rounded.MuiPaginationItem-textSecondary.MuiPaginationItem-page.css-12j7rf6-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
}
.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-rounded.MuiPaginationItem-textSecondary.MuiPaginationItem-ellipsis.css-1v2lvtn-MuiPaginationItem-root {
  color: white;
}
